################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/API_Functions/.vs/*
/Custom_Construct/.vs/*
/Custom_Construct/x64/*
*.exp
*.ilk
*.pch
*.pdb
*.obj
*.idb
*.iobj
*.ipdb
*.o
*.swp
*.log
*.dll
*.recipe
*.tlog
/API_Functions/x64/Debug/libconstructAPI.lib
/API_Functions/x64/Quiet/libconstructAPI.lib
/API_Functions/x64/Release/libconstructAPI.lib
